

/* mobile */
@media screen and (max-width:320px) {
  body {
    background-color: rgb(10, 80, 37);
    padding-top: 90px;
    font-family: 'Rubik', sans-serif;
  }
}

/* tablet */
@media screen and (min-width: 321px) {
  body {
    background-color: rgb(10, 80, 37);
    padding-top: 85px;
    font-family: 'Rubik', sans-serif;
   
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  body {
    background-color: rgb(10, 80, 37);
    padding-top: 50px;
    font-family: 'Rubik', sans-serif;
  }
}
  
/* Logo */
.logo {
  text-align: center;
}

/* Navbar */

.navbar {
  overflow: visible;
  background-color: white;
  display: block;
  position: fixed;
  top: 0px;
  width: 99%;
  box-shadow: 0px 5px 10px 0px rgba(0.5, 0.5, 0.5, 0.5);
}

.navbar a {
  float: left;
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.links {
  font-size: 1.7em; 
  font-family: 'Rubik', sans-serif;
}


.dropdown {
  position: relative;
  font-size: 18px;
  float: left;
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Rubik', sans-serif;
  font-weight: 350;
}

.bio {
  background: rgb(255, 255, 255);
  border: solid;
  border-color: lightgray;
  border-radius: 1em;
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 18px;
  border-top: solid, 50px;
  padding-bottom: 100px;
  font-family: 'Rubik', sans-serif;
  font-size: large;
}

.intropets {
  background: rgb(255, 255, 255);
  text-align: center;
  border: solid;
  border-color: lightgray;
  border-radius: 1em;
  padding: 10px;
  margin-top: 10px;
  border-top: solid, 10px;
  margin-bottom: 18px;
  font-family: monospace;
}

li {
  font-family: 'Rubik', sans-serif;
  font-weight: 350;
}

.bioimg  {
  float: left;   
  margin-right: 40px;
  }

