

/* mobile */
@media screen and (max-width:320px) {
  body {
    background-color: #eaddec;
  }
  .navbar {
    display:none;
  }
}

/* tablet */
@media screen and (min-width: 321px) {
  body {
    background-color:lightgoldenrodyellow;
   }
  #mobile {
    display:none;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  body {
    background-color: #d6f0df;
  }
  #mobile {
    display:none;
  }
}
  

#mobile {
  float: none;
  font-size: 17px;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
}  
  
/* Logo */
.logo {
  text-align: center;
}

/*Nav bar*/
.navbar {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border: solid;
  border-color: lightgray;
  border-radius: 1em;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
}

.navbar ul {
  list-style: none;
  text-align: center;
}

.navbar ul li {
  display: inline-block;
}

.navbar a:hover {
  background-color: #d8ebf1;
  color: black;
}

.navbar a.active {
  background-color: #a8def1;
  color: black;

}

h1 {
  text-align: left;
  font-family: 'Exo', sans-serif;
  font-weight: 500;
}

p {
  font-family: 'Exo', sans-serif;
  font-weight: 350;
}

.bio {
  background: rgb(255, 255, 255);
  border: solid;
  border-color: lightgray;
  border-radius: 1em;
  padding: 50px;
  margin: 25px;
  border-top: solid, 50px;
  padding-bottom: 100px;
}

li {
  font-family: 'Exo', sans-serif;
  font-weight: 350;
}

.bioimg  {
  float: left;   
  margin-right: 40px;
  
  }


.intro {
  text-align: center;
}

